<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKb8v_n9L8TFFYJOstjTQTWnwNo4yYW8M</string>
	<key>GCM_SENDER_ID</key>
	<string>1011696699856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.leaflife</string>
	<key>PROJECT_ID</key>
	<string>leaflife-6a8bf</string>
	<key>STORAGE_BUCKET</key>
	<string>leaflife-6a8bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011696699856:ios:3f6949bd5b579877fe91d5</string>
</dict>
</plist>